<% include includes/header %>

<!-- ABOUT US -->
	<section id="about">

		<article id="about-intro" class="about-text">
			<p>We produce jaw-dropping moments and lasting memories by treating participants as collaborators not users.
		</article>

		<article id="about-transport" class="about-block">
			<img src="/images/cap_paint.png">
		</article>

		<article id="transport-text" class="about-text"><p>We are obsessed with innovation and passionate about creating genuinely meaningful experiences.</p></article>

		<article id="about-obsessed" class="about-block">
			<img src="/images/cap_veggie.png" >
		</article>

		<article id="obsessed-text" class="about-text"><p>We transport audiences to new places using a unique blend of technology, storytelling, and social interaction.</p></article>

		<article id="about-produce" class="about-block">
			<img src="/images/cap_skeletons.png" >
		</article>

		<article id="produce-text" class="about-text"><p>We are an experiential agency that makes magic with creativity and code.</p></article>

	</section>
	
<!-- CAPABILITIES -->
<div id="skills-section">
	<section id="skills">
			<ul>
				<% for(var i = 0; i< capabilities.length; i++){ %>
					<li><a href="#<%=makeSlug(capabilities[i].name)%>"> <%= capabilities[i].name %></a></li>
				<% } %>
			</ul>
	</section>
	
	<div id="about-skills">	

		<% for(var i = 0; i< capabilities.length; i++){ %>
		<section class="about-skill" id="<%=makeSlug(capabilities[i].name)%>">
				<article class="skill-title">
					<h2><%=capabilities[i].name %></h2>
				</article>
				<article class="skill-blurb">
					<p><span class="skill-name"><%=capabilities[i].name%> </span> – <%= capabilities[i].text %></p>
				</article>

	<!-- RELATED PROJECTS -->
			<article class="related-work">
				<div class="title">
					<h3>Projects</h3>
				</div>
				<div class="work-thumbs">
					<% for (var j=0; j<capabilities[i].projects.length; j++){%>
					<div class="project">
						<a href="/projects/<%= capabilities[i].projects[j].slug %>">
						<img src="<%= capabilities[i].projects[j].thumbnail.path %>" alt="Project Name" />
						<%= capabilities[i].projects[j].title %> ›</a>
					</div>
					<% } %>
				</div>
			</article>

	<!-- RELATED CLIENTS -->
			<article class="related-clients">
				<div class="title">
					<h3>Clients</h3>
				</div>
				<div class="client-list">
					<ul>

					<% var ids=[];
						for (var j=0; j<capabilities[i].projects.length; j++){
							for( var k=0; k<capabilities[i].projects[j].clients.length;k++){
								var isUsed=false;
								for(var l = 0; l < ids.length; l++){ 
									if(ids[l]==capabilities[i].projects[j].clients[k].name){
										isUsed=true;
									}
								}
								if(isUsed==false){
									ids.push(capabilities[i].projects[j].clients[k].name);%>
					<li>
						<%= capabilities[i].projects[j].clients[k].name %>
					</li>
					<% 			}
							}		
						}%>
					</ul>
				</div>
			</article>

			<article class="skill-border"></article>

		</section>
		<% } %>
	</div>

	<section id="skills" class="bottom-skills">
			<ul>
				<% for(var i = 0; i< capabilities.length; i++){ %>
					<li><a href="#<%=makeSlug(capabilities[i].name)%>"> <%= capabilities[i].name %></a></li>
				<% } %>
			</ul>
	</section>


<!-- FOOTER IS INSIDE DIV TO WORK WITH CURTAINED SCROLLING-->
	<% include includes/footer %>
	</div>
		
	<% function makeSlug(Text)
{
    return Text.toLowerCase().replace(/ /g,'-').replace(/[^\w-]+/g,'');
}
%>

    <script src="/javascripts/capabilities.js"></script>
    <% if(session===true){ %>
    	<script>
    		//script to change browser location if there is a capability session
    		//only runs if session === true
    		//get current window location
    		var currentLocation = window.location;
	    	
	    	//checks if location.hash is populated
	    	//if its not populate
	    	if(!currentLocation.hash){
	    		//send users to the produce text location
    			window.location = currentLocation+"#produce-text";
    		}
    	</script>
    <% } %>
</body>
</html>