<% include includes/header %>
<!-- CLIENTS -->
	<div id="client-wrap">	
		<section id="client-grid">
		
			<h1>Clients</h1>
			
			<% for(var i = 0; i< clients.length; i++){ 

				if(clients[i].name!='various'&&clients[i].name!='Various'){%>

			<!-- CLIENT INFO -->
				<section class="client-detail" id="<%= makeSlug(clients[i].name) %>">
					<div class="corner close">
						<button><p>+</p></button>
					</div>
					<article class="client-img">
							<img src="<%= clients[i].image.path %>" alt="need an image" />
							<p><%= clients[i].caption %></p>
					</article>

			<!-- RELATED CAPABILITIES -->

					<article class="detail-col">
						<div class="title">
							<h3>Capabilities</h3>
						</div>

						<div class="detail-list">
							<ul>
								<% var ids=[];

								for(var j = 0; j< clients[i].capabilities.length; j++){

									for(var k = 0; k< clients[i].capabilities[j].capabilities.length; k++){
										var isUsed=false; 
										for(var l = 0; l < ids.length; l++){ 
											if(ids[l]==clients[i].capabilities[j].capabilities[k]._id){
												isUsed=true;
											}
										}
										if(isUsed==false){
											ids.push(clients[i].capabilities[j].capabilities[k]._id);
											%>

									<li><a href="/capabilities#<%= makeSlug(clients[i].capabilities[j].capabilities[k].name)%>"><%= clients[i].capabilities[j].capabilities[k].name %> ›</a></li>
								<% 		}
									}
								} 
								%>
							</ul>
						</div>
					</article>

			<!-- RELATED PROJECTS -->

					<article class="detail-col">
						<%if(clients[i].projects.length>0){%>
						<div class="title">
							<h3>Projects</h3>
						</div>
						<div class="detail-list">
							<ul>
								<% for(var j = 0; j< clients[i].projects.length; j++){ %>
									<li><a href="/projects/<%= clients[i].projects[j].slug %>"><%= clients[i].projects[j].title %> ›</a></li>
								<% } %>
							</ul>
						</div>
					<% } %>
					</article>
				</section>	

										<% } }%>

			<div id="client-list">		
				<% for(var i = 0; i< clients.length; i++){

					if(clients[i].name!='Various'&&clients[i].name!='various'){%>

					<article class="client" id="<%= makeSlug(clients[i].name) %>">
						<div class="corner">
							<button><p>+</p></button>
						</div>
						<h2><%=clients[i].name%></h2>
					</article>

		<% } }%>
	</section>
	</div> <!-- end client-wrap -->
	
<!-- PARTNERS -->

	<section class="list-block cap-tech">
		<article class="column">
			<article class="title yellow-header">
				<h3>Partners</h3>
			</article>
			<article class="list light">
				<ul>
					<% for (var i=0; i<partners.length;i++){ %>
					<li><%= partners[i].name %></li>
					<% } %>
				</ul>
			</article>
		</article>
	</section>

		<% function makeSlug(Text)
			{
			    return Text.toLowerCase().replace(/ /g,'-').replace(/[^\w-]+/g,'');
			}
		%>

	<% include includes/footer %>

	<script src="/javascripts/clients.js"></script>
</body>
</html>