<% include includes/header %>

    <h1><%= title %></h1>
    <section>
    	<form enctype="multipart/form-data" action="/clients/submit" method="post">
	    	<h2>Add New Clients</h2>
	    	<input name="name" placeholder="Enter Title">
	    	<textarea name="caption" placeholder="Enter Caption"></textarea>
	    	<input type="file" name="image" >
	    	<button type="submit">Submit</button>
	    </form>


    </section>

    <section>
	    <h2>Current Clients</h2>
		<% for(var i=0; i< clients.length; i++){ %>
			<form enctype="multipart/form-data" action="/clients/update" method="post">
				<input type="text" name="name" value="<%= clients[i].name %>">
				<textarea name="caption"><%= clients[i].caption%></textarea>
				<img src="<%= clients[i].image.path %>">
				<input type="file" name="image" >
				<input type="hidden" name="_id" value="<%= clients[i]._id %>">
				<button type="submit">Update</button>
				<button type="button" class="delete">Delete</button>
			</form>
		<% } %>
	</section>

<% include includes/footer %>