<% include includes/header %>
<!-- CLIENTS -->
	<div id="client-wrap">	
		<section id="client-grid">
		
			<h1>Clients</h1>
			
			<% for(var i = 0; i< clients.length; i++){ %>
				<section class="client-detail" id="<%= makeSlug(clients[i].name) %>">
					<div class="corner close">
						<button><p>+</p></button>
					</div>
					<article class="client-img">
							<img src="<%= clients[i].image.path %>" alt="need an image" />
							<p><%= clients[i].caption %></p>
					</article>

					<article class="detail-col">
						<div class="title">
							<h3>Capabilities</h3>
						</div>

						<!---  MAKE DYNAMIC ONCE PROJECT INFO IS LOADED HERE -->
						<div class="detail-list">
							<ul>
								<!-- this is not working -->
							</ul>
						</div>
					</article>

					<article class="detail-col">
						<div class="title">
							<h3>Projects</h3>
						</div>
						<div class="detail-list">
							<ul>
								<% for(var j = 0; j< clients[i].projects.length; j++){ %>
									<li><a href="/projects/<%= makeSlug(clients[i].projects[j].title)%>"><%= clients[i].projects[j].title %> ›</a></li>
								<% } %>
							</ul>
						</div>
					</article>
				</section>	

										<% } %>

			<div id="client-list">		
				<% for(var i = 0; i< clients.length; i++){ %>

					<article class="client" id="<%= makeSlug(clients[i].name) %>">
						<div class="corner">
							<button><p>+</p></button>
						</div>
						<h2><%=clients[i].name%></h2>
					</article>

		<% } %>
	</section>
	</div> <!-- end client-wrap -->
	
<!-- PARTNERS -->

	<section class="list-block cap-tech">
		<article class="column">
			<article class="title yellow-header">
				<h3>Partners</h3>
			</article>
			<article class="list light">
				<ul>
					<li>Partner Name</li>
					<li>Partner Name</li>
					<li>Partner Name</li>
					<li>Partner Name</li>
					<li>Partner Name</li>
				</ul>
			</article>
			<article class="list light">
				<ul>
					<li>Partner Name</li>
					<li>Partner Name</li>
					<li>Partner Name</li>
					<li>Partner Name</li>
					<li>Partner Name</li>
				</ul>
			</article>
			<article class="list light">
				<ul>
					<li>Partner Name</li>
					<li>Partner Name</li>
					<li>Partner Name</li>
					<li>Partner Name</li>
					<li>Partner Name</li>
				</ul>
			</article>
			<article class="list light">
				<ul>
					<li>Partner Name</li>
					<li>Partner Name</li>
					<li>Partner Name</li>
					<li>Partner Name</li>
					<li>Partner Name</li>
				</ul>
			</article>

		</article>
	</section>

		<% function makeSlug(Text)
			{
			    return Text.toLowerCase().replace(/ /g,'-').replace(/[^\w-]+/g,'');
			}
		%>

	<% include includes/footer %>

	<script src="../../javascripts/clients.js"></script>
</body>
</html>