<% include includes/header %>

    <!-- VIDEO -->
		<section class="project-vid">
			<video id="project-video-1" class="video-js vjs-project-page" poster="<%= project.poster.path %>" controls>
				  <source src="<%= project.video_url%>" type='video/mp4' />
				  <source src="<%= project.video_backup%>" type='video/ogg' />
			</video> 
		</section>
		
<!-- TITLE / PAGINATION -->
		<section class="title-nav">
			<div class="previous-proj">
				<a><button class="left"></button></a>
				<p class="nav-label-prev">Prev Project</p>
			</div>
			<article class="project-meta">
				<h1><%= project.title %></h1>
				<% for(var i = 0; i< project.clients.length; i++){ %>
					<p><%= project.clients[i].name %>   ::  <%= project.location %></p>
				<% } %>
			</article>
			<div class="next-proj">
				<button class="right"></button>
				<p class="nav-label-next">Next Project</p>
			</div>
		</section>
		
<!-- TEXT BLOCKS-->
	<% 
		var cap=false;
		var partners=false;
		var textCount=0;
		
	for(var i = 0; i< project.imageBlocks.length; i++){ 
		if(textCount<project.textBlocks.length){%>
			<section class="project-text-titled">
			<article class="left-col">
			<p><%= project.textBlocks[textCount].text %></p>
			</article>
			<article class="right-col">
			<p>Need to, with JS, break text into 2 columns and have 2nd column populate here.</p>
			</article>
			</section>
			
		<%
		textCount++;
		}	 
		
		else if(cap==false){%>
		
		<!-- CAPABILITIES, TOOLS + TECH BLOCK -->
	<section class="list-block cap-tech">
		<article class="column-left">
			<article class="title yellow-header">
				<h3>Capabilities</h3>
			</article>
			<article class="list light">
				<ul>
					<% for(var j = 0; j< project.capabilities.length; j++){ %>
						<li><a href="/capabilities#<%= makeSlug(project.capabilities[j].name)%>"><%= project.capabilities[j].name%></a></li>
					<% } %>
				</ul>
			</article>
		</article>
		<article class="column-right">
			<article class="title yellow-header">
				<h3>Tech + Tools</h3>
			</article>
			<article class="list light">
				<ul>
					<% for(var j = 0; j< project.technologies.length; j++){ %>
						<li><%= project.technologies[j].name%></li>
					<% } %>
				</ul>
			</article>
		</article>
	</section>

		
		<% 
		cap=true;
		
		}
		
		%>		
		
	<!-- PHOTO BLOCK-->
	<section class="photo-block-multi">
	<% for(var j= 0; j<project.imageBlocks[i].length; j++){ %>
		<div class="img-wrap">
				<img src="<%= project.imageBlocks[i][j].path  %>" alt="alt text" />
		</div>
	<% } %>
	</section>
	<%if(cap==true&&partners==false){ 
		%>
		
		<!-- PARTNERS, MORE INFO -->
	
	<section class="list-block partner-info">
		<article class="column-left">
			<article class="title">
				<h3>Partners</h3>
			</article>
			<article class="list">
				<ul>
					<% for(var j = 0; j< project.partners.length; j++){ %>
						<li><%= project.partners[j].name%></li>
					<% } %>
				</ul>
			</article>
		</article>
		<article class="column-right">
			<article class="title">
				<h3>More Info</h3>
			</article>
			<article class="list">
				<ul>
					<% for(var j = 0; j< project.infoBlocks.length; j++){ %>
						<li><a href="<%= project.infoBlocks[j].text%>"><%= project.infoBlocks[j].title%></a></li>
					<% } %>
				</ul>
			</article>								
		</article>
	</section>

		
		<%partners=true;} %>
	
<% 
} %>
		
	<% function makeSlug(Text)
{
    return Text.toLowerCase().replace(/ /g,'-').replace(/[^\w-]+/g,'');
}
%>
		
	<% include includes/footer-project %>
	<script src="../../javascripts/project-single.js"></script>
</body>
</html>

