<% include includes/header %>   

	<section class="project-form-wrap">
		<h1>Update <%= data.project.title %></h1>
		<form class="edit_project" enctype="multipart/form-data" action="/projects/<%=data.project.slug %>/update" method="post">
			<input type="hidden" value="<%= data.project._id %>" name="project_id">
			
			<section id="main">
				<h3>Title, Slug, and Video Info</h3>
				<p>Title<br/><input type="text" name="project_title" class="project_title field" placeholder="Project Title" value="<%= data.project.title %>"/></p>
				<p>Slug<br/><input type="text" name="project_slug" class="project_slug field" value="<%= data.project.slug %>"/></p>
				<p>Location<br/><input type="text" name="project_location" class="field" value="<%= data.project.location %>"/></p>

				<p>Vimeo URL <br/><input type="text" name="project_video"  class="field" value="<%= data.project.video_url %>"/></p>
				<p>Back-up URL <br/><input type="text" name="project_video_backup" class="field" value="<%= data.project.video_backup%>"/></p>
				<p>Thumbnail <br/>
					<input type="file" name="project_thumbnail" class="browse" placeholder="Project Thumbnail"/>
					<img src="<%= data.project.thumbnail.path %>">
				</p>
				<p>Poster Image <br/><input type="file" name="project_poster_image" class="browse"/>
					<img src="<%= data.project.poster.path %>">
				</p>

			</section>
				<section id="clients">
				<h3>Client(s)</h3>   
				<a href="/clients/edit">or edit master list ›</a>

				<% for(var i =0; i< data.clients.length; i++){ %>

					<% 	var client_enabled = false;
						for(var j =0; j< data.project.clients.length; j++ ){ 
						if(data.project.clients[j]._id == data.clients[i]._id) client_enabled = true;
					}%>

					<p><input type="checkbox" name="clients[<%= i %>]" <% if(client_enabled===true){ %> checked <% } %> value="<%= data.clients[i]._id %>"> <%= data.clients[i].name %></p>
				<% } %>
			</section><!-- #clients -->

			<section id="text">
				<h3>White Paragraph Text Row</h3>
				<section class="text-blocks">
				<% for (var i = 0; i<data.project.textBlocks.length; i++){ %>
					<article class="project-text-block text-block-0">
						<p><input class="title field" type="text" name="project_text[<%= i %>][title]" placeholder="Project Text Title" value="<%= data.project.textBlocks[i].title %>"></p>
						<p><textarea class="copy text-box" name="project_text[<%= i %>][text]" placeholder="Project Text"><%= data.project.textBlocks[i].text %></textarea></p>
					</article>
				<% } %>
				</section><!--.text-blocks -->
				<section class="btns">
					<button type="button" class="more-text" name="more_text">Add Another Text Field</button>
					<button type="button" class="less-text" name="less_text">Remove Text Field</button>
				</section><!--.btns -->
			</section><!--#text -->
			
			<section id="images">
				<h3>Project Image Block</h3>
				<section class="image-blocks">
				<p>Want to edit and image?</p>
				<p>Remove all image blocks and reupload.</p>
				<% for (var i = 0; i<data.project.imageBlocks.length; i++){ %>
					<article class="project-image-block image-block-<%=i%>">
						<p>
							<select class="num-images">
							<option selected="selected">Images in Block</option>
							<option value="1" <% if(data.project.imageBlocks[i].length===1){%> selected="selected" <%} %> >1</option>
							<option value="2" <% if(data.project.imageBlocks[i].length===2){%> selected="selected" <%} %> >2</option>
							<option value="3" <% if(data.project.imageBlocks[i].length===3){%> selected="selected" <%} %> >3</option>
							<option value="4" <% if(data.project.imageBlocks[i].length===4){%> selected="selected" <%} %> >4</option>
							</select>
						</p>
					<% for(var j= 0; j<data.project.imageBlocks[i].length; j++){ %>
						<img src="<%= data.project.imageBlocks[i][j].path  %>">
						<input type="file" name="project_image_block[<%=i%>][<%=j%>]" class="project-image-<%=i%>" placeholder="Project Text Title">
					<% } %>
					</article>
				<% } %>
				</section><!--.image-blocks -->
				<section class="btns">  
					<button type="button" class="more-images" name="more_images">Add Another Image Block</button>
					<button type="button" class="less-images" name="less_images">Remove Image Block</button>
				</section><!--.btns -->
			</section><!--#images-->
			<section id="technology">
				<h3>Technologies List</h3>
				<a href="/technologies/edit">or edit master list ›</a>
				<% for(var i =0; i< data.technology.length; i++){ %>
					<% 	var technology_enabled = false;
						for(var j = 0; j< data.project.technologies.length; j++){
							if(data.project.technologies[j]._id == data.technology[i]._id ){ technology_enabled = true};
						} %>
					<p><input type="checkbox" name="technology[<%= i %>]" <% if(technology_enabled === true){ %> checked <% }%> value="<%= data.technology[i]._id %>"> 
						<%= data.technology[i].name %>
					</p>
				<% } %>
			</section><!-- technology -->
			<section id="capabilities">
				<h3>Capabilities List</h3>
				<a href="/capabilities/edit">or edit master list ›</a>
				<% for(var i =0; i< data.capabilities.length; i++){ %>
					<% 	var capability_enabled = false;
						for(var j = 0; j< data.project.capabilities.length; j++){
							if(data.project.capabilities[j]._id == data.capabilities[i]._id ){ capability_enabled = true};
						} %>
				<p><input type="checkbox" name="capabilities[<%=  i %>]" <% if(capability_enabled === true){ %> checked <% } %> value="<%= data.capabilities[i]._id %>"><%= data.capabilities[i].name %></p>
				<% } %>
			</section><!-- capabilities -->
			<section id="partners">
				<h3>Partner(s)</h3>
				<a href="/partners/edit">or edit master list ›</a>
				<% for(var i =0; i< data.partners.length; i++){ 
					var partner_enabled = false;
					for(var j = 0; j<data.project.partners.length; j++){
						if(data.project.partners[j]._id == data.partners[i]._id){partner_enabled=true;}
						}%>
				<p><input type="checkbox" name="partners[<%= i %>]" <% if(partner_enabled === true){ %> checked <% } %>  value="<%= data.partners[i]._id %>"> <%= data.partners[i].name %></p>
				<% } %>
			</section><!-- #partners -->
			<section id="more-info">
				<h3>More Info</h3>
				<section class="info-blocks">
					<% for(var i=0; i<data.project.infoBlocks.length;i++){ %>
					<article class="project-info-block info-block-<%= i %>">
						<p><input class="title field" type="text" name="project_info[<%= i %>][title]" value="<%= data.project.infoBlocks[i].title %>"></p>
						<p><input class="copy field" type="text" name="project_info[<%= i %>][text]" value="<%= data.project.infoBlocks[i].text %>"></p>
					</article>
					<% } %>
				</section><!--.info-blocks -->
				<section class="info-btns">
					<button type="button" class="more-info" name="more_info">ADD Another</button>
					<button type="button" class="less-info" name="less_info">REMOVE  Block</button>
				</section><!--.info-btns -->
			</section><!--#more-info-->
			<section id="privacy">
				<h3>Featured</h3>
				<p>Does this project show on the Featured Work page?</p>
				<p>
					<input type="radio" name="project_featured" value="true" <% if(data.project.featured == true){ %>checked<% } %> /> Yes
					<input type="radio" name="project_featured" value="false" <% if(data.project.featured == false){ %>checked<% } %>/> No
				</p>
				<h3>Password</h3>
				<p>Status: <%if(data.project.password == null){ %> No Password <% }else{ %> Password Protected <% } %></p>
				<p><em>Change or Add A Project Password </em></p>
				<p>
					<input type="password" name="project_password" class="field" <%if(data.project.password == null){ %> placeholder="Enter Password" <% }else{ %> value="<%= data.project.password %>" <% } %> />
					<input type="password" name="project_password_confirm" class="field" <%if(data.project.password == null){ %> placeholder="Confirm Password" <% }else{ %> value="<%= data.project.password %>" <% } %>/>
				</p>
			</section><!-- #privacy -->
			
			<section class="bottom-btn">
				<button type="submit">FINISH + UPDATE PROJECT</button>
			</section><!-- .bottom-btn -->

		</form>
	</section><!-- project-form-wrapper-->
<% include includes/footer %>   
