	<% include includes/header %>

    <!-- VIDEO -->
		<section class="project-vid" name="top">
			<div class="poster-wrap">
				<img src="<%= project.poster.path %>" class="poster-image">
			</div>
			<video id="project-video-1" class="video-js vjs-project-page"  controls>
				  <source src="<%= project.video_url%>" type='video/mp4' />
				  <source src="<%= project.video_backup%>" type='video/ogg' />
			</video> 
			<div class="poster-wrap">
				<img src="<%= project.poster.path %>" class="poster-image">
			</div>
		</section>
		
<!-- TITLE / PAGINATION -->
		<section class="title-nav">
			<div class="previous-proj">
				<a href="/projects/<%= previous %>"><button class="left"></button></a>
				<p class="nav-label-prev">Prev Project</p>
			</div>
			<article class="project-meta">
				<h1><%= project.title %></h1>
				<p>
				<% for(var i = 0; i< project.clients.length; i++){ 
					if(i!=0){%> , <%}%><%= project.clients[i].name %>
				<% } %>
				</p>
				<p><%= project.location %>
			</article>
			<div class="next-proj">
				<a href="/projects/<%= next %>"><button class="right"></button></a>
				<p class="nav-label-next">Next Project</p>
			</div>
		</section>
		
<!-- TEXT BLOCKS-->
	<% 
	var imgCount=0;
		
	for(var i = 0; i< project.textBlocks.length; i++){ %>
			<section class="project-text-titled">
				<article class="title">
					<h3><%= project.textBlocks[i].title %></h3>
				</article>
			<article class="text-body">
			<p><%= project.textBlocks[i].text %></p>
			</article>
			</section>
		<%
		if(imgCount<project.imageBlocks.length){ %>
		<section class="photo-block-multi">
		<% 
			for(var j= 0; j<project.imageBlocks[imgCount].length; j++){ %>
			<div class="img-wrap" data-image-size="<%= project.imageBlocks[imgCount][j].size  %>">
			<img src="<%= project.imageBlocks[imgCount][j].path  %>" alt="alt text" />
			</div>
		<% 
			} %>
		</section>
		<%
		imgCount++; 
		}
	}
		%>
		
		<!-- CAPABILITIES, TOOLS + TECH BLOCK -->
	<section class="list-block cap-tech">
		<article class="column-left">
			<article class="title yellow-header">
				<h3>Capabilities</h3>
			</article>
			<article class="list light">
				<ul>
					<% for(var j = 0; j< project.capabilities.length; j++){ %>
						<li><a href="/capabilities#<%= makeSlug(project.capabilities[j].name)%>"><%= project.capabilities[j].name%> ›</a></li>
					<% } %>
				</ul>
			</article>
		</article>
		<article class="column-right">
			<article class="title yellow-header">
				<h3>Tech + Tools</h3>
			</article>
			<article class="list light">
				<ul>
					<% for(var j = 0; j< project.technologies.length; j++){ %>
						<li><%= project.technologies[j].name%></li>
					<% } %>
				</ul>
			</article>
		</article>
	</section>

		<%
		if(imgCount<project.imageBlocks.length){ %>
		<section class="photo-block-multi">
		<% 
			for(var j= 0; j<project.imageBlocks[imgCount].length; j++){ %>
			<div class="img-wrap" data-image-size="<%= project.imageBlocks[imgCount][j].size  %>">
			<img src="<%= project.imageBlocks[imgCount][j].path  %>" alt="alt text" />
			</div>
		<% 
			} %>
		</section>
		<%
		imgCount++; 
		}
		%>
		
		
		<!-- PARTNERS, MORE INFO -->
	
	<section class="list-block partner-info">
		<article class="column-left">
			<article class="title">
				<h3>Partners</h3>
			</article>
			<article class="list">
				<ul>
					<% for(var j = 0; j< project.partners.length; j++){ %>
						<li><%= project.partners[j].name%></li>
					<% } %>
				</ul>
			</article>
		</article>
		<article class="column-right">
			<article class="title">
				<h3>More Info</h3>
			</article>
			<article class="list">
				<ul>
					<% for(var j = 0; j< project.infoBlocks.length; j++){ %>
						<li><a href="<%= project.infoBlocks[j].title%>"><%= project.infoBlocks[j].text%> › </a></li>
					<% } %>
				</ul>
			</article>								
		</article>
	</section>

			<%
		if(imgCount<project.imageBlocks.length){ %>
		<section class="photo-block-multi">
		<% 
			for(var j= 0; j<project.imageBlocks[imgCount].length; j++){ %>
			<div class="img-wrap" data-image-size="<%= project.imageBlocks[imgCount][j].size  %>">
			<img src="<%= project.imageBlocks[imgCount][j].path  %>" alt="alt text" />
			</div>
		<% 
			} %>
		</section>
		<%
		imgCount++; 
		}
		%>

		
	<% function makeSlug(Text)
{
    return Text.toLowerCase().replace(/ /g,'-').replace(/[^\w-]+/g,'');
}

%>
		
	<% include includes/footer-project %>
	<script src="/javascripts/project-single.js"></script>
</body>
</html>

