<% include includes/header %>

    <!-- VIDEO -->
		<section class="project-vid">
			<video id="project-video-1" class="video-js vjs-project-page" controls>
				  <source src="<%= project.video_url%>" type='video/mp4' />
				  <source src="<%= project.video_backup%>" type='video/ogg' />
			</video> 
		</section>
		
<!-- TITLE / PAGINATION -->
		<section class="title-nav">
			<div class="previous-proj">
				<button class="left"></button>
				<p class="nav-label-prev">Prev Project</p>
			</div>
			<article class="project-meta">
				<h1><%= project.title %></h1>
				<% for(var i = 0; i< project.clients.length; i++){ %>
					<p><%= project.clients[i].name %>   ::  City, State</p>
				<% } %>
			</article>
			<div class="next-proj">
				<button class="right"></button>
				<p class="nav-label-next">Next Project</p>
			</div>
		</section>
		
<!-- TEXT BLOCK: FIRST WHITE -->
	<% for(var i = 0; i< project.textBlocks.length; i++){ %>
		<section class="project-text-titled">
			<article class="left-col">
				<p><%= project.textBlocks[i].text %></p>
			</article>
			<article class="right-col">
				<p>Need to, with JS, break text into 2 columns and have 2nd column populate here.</p>
			</article>
		</section>
	<% } %>
		
<!-- PHOTO BLOCK-->
<% for(var i= 0; i<project.imageBlocks.length; i++){ %>
	<section class="photo-block-multi">
		<div class="img-wrap">
			<% for(var j= 0; j<project.imageBlocks[i].length; j++){ %>
				<img src="<%= project.imageBlocks[i][j].path  %>" alt="alt text" />
			<% } %>
		</div>
	</section>
	<% } %>
	
<!-- CAPABILITIES, TOOLS + TECH BLOCK -->
	<section class="list-block cap-tech">
		<article class="column-left">
			<article class="title yellow-header">
				<h3>Capabilities</h3>
			</article>
			<article class="list light">
				<ul>
					<% for(var i = 0; i< project.capabilities.length; i++){ %>
						<li><a href="#"><%= project.capabilities[i].name%> ›</a></li>
					<% } %>
				</ul>
			</article>
		</article>
		<article class="column-right">
			<article class="title yellow-header">
				<h3>Tech + Tools</h3>
			</article>
			<article class="list light">
				<ul>
					<% for(var i = 0; i< project.technologies.length; i++){ %>
						<li><%= project.technologies[i].name%></li>
					<% } %>
				</ul>
			</article>
		</article>
	</section>
		

<!-- PARTNERS, MORE INFO -->
	
	<section class="list-block partner-info">
		<article class="column-left">
			<article class="title">
				<h3>Partners</h3>
			</article>
			<article class="list">
				<ul>
					<% for(var i = 0; i< project.partners.length; i++){ %>
						<li><%= project.partners[i].name%></li>
					<% } %>
				</ul>
			</article>
		</article>
		<article class="column-right">
			<article class="title">
				<h3>More Info</h3>
			</article>
			<article class="list">
				<ul>
					<% for(var i = 0; i< project.infoBlocks.length; i++){ %>
						<li><a href="<%= project.infoBlocks[i].text%>"><%= project.infoBlocks[i].title%></a></li>
					<% } %>
				</ul>
			</article>								
		</article>
	</section>
	<% include includes/footer-project %>
	<script src="../../javascripts/project-single.js"></script>
</body>
</html>

