<% include includes/header %>
	<!-- PORTFOLIO WRAP -->
	<div id="portfolio-wrap">
		
		<!-- PORTFOLIO -->
		<section id="portfolio">
			<% for (var i=0; i<projects.length; i++){ %>
			<article class="port-item">
				<a href="/projects/<%= projects[i].slug %>">
					<div class="poster-image">	
						<img src="<%= projects[i].thumbnail.path %>" alt="project title" />
					</div>
					<h2><%= projects[i].title %></h2>
				</a>
				<p><% for (var j=0; j<projects[i].clients.length; j++){ %>
					<%= projects[i].clients[j].name %><% if (j<projects[i].clients.length-1) { %>, <% } %>
			<% 	} if(projects[i].clients.length==0){%>
			<%= projects[i].location %><%

			} %>
				</p>
			</article>
		<% 	} %>
		</section> <!-- end "portfolio" -->
	</div> <!-- end "portfolio wrap" -->
	<% include includes/footer %>
	<script src="/javascripts/projects.js"></script>
</body>
</html>